@model IEnumerable<Strongly_typed_partial_view.Models.Product>
@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>
<div class="contrainer">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <partial name="_ProductPartialView"m model="item"/>
            </div>
        }
    </div>

</div>

